* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  padding-top: 180px;
  background:linear-gradient(rgba(54, 244, 82, 0.3),rgba(57, 239, 245, 0.5)), url(images/mig2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.logo{
  width: 140px;
  position: absolute;
  top: 4%;
  left: 4%;
}
.emotional{
  font-size: 60px;
  color: burlywood;
  margin-bottom: 35px;
}
.q-sentence{
  font-size: 25px;
  color: #fff;
  font-style: italic;
  font-weight: bold;
}
button{
  padding: 6px 16px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(203, 44, 0);
    border-style: solid;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    transition: box-shadow .3s;
    margin-top: 20px;
}
.textinput{
  width: 300px;
  height: 20px;
  font-size: 15px;
  border: none;
  transform: skewX(-15deg);
  cursor: pointer;
}

#menuBtn {
  width: 40px;
  height: 50px;
  background: #009688;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;

}
#menuBtn img {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}
@media screen and (max-width: 770px) {
  .emotional h1 {
    font-size: 44px;
  }
  .logo {
    width: 100px;
  }
  .q-sentence {
  font-size: 18px;
  }
}